<template>
  <el-row :gutter="20" v-if="exist">
    <el-col :span="6">
      <el-card class="box-card">
        <div slot="header" class="clearfix">
          <span>Name : {{ character.name }}</span>
        </div>
        <el-image
          style="width: 400px; height: 400px"
          :src="character.image"
          fit="fill"
        ></el-image>
        <div class="text item">
          Gender : {{ character.gender }}
        </div>
         <div class="text item">
          Location : {{ character.location.name }}
        </div>
         <div class="text item">
          Origin : {{ character.origin.name }}
        </div>
         <div class="text item">
          Species : {{ character.species }}
        </div>
         <div class="text item">
          Status : {{ character.status }}
        </div>
      </el-card>
    </el-col>
  </el-row>
</template>

<script lang="ts">
import { Component, Vue, Prop } from "vue-property-decorator";
import axios from "axios";

@Component({
  components: {},
})
export default class Detail extends Vue {
  @Prop()
  id!: string;
  public character = {};
  public exist = false;
  public async getCharacater() {
    const response = await axios
      .get("https://rickandmortyapi.com/api/character/" + this.id)
      .then(function (response) {
        return response.data;
      })
      .catch(function (error) {
        console.log(error);
      });
    console.log(response);
    this.character = response;
    this.exist = true;
  }
  mounted() {
    this.getCharacater();
  }
}
</script>
