<template>
  <div>
    <el-form ref="form" inline v-on:submit.prevent="noop">
      <el-form-item>
        <el-input
          placeholder="Name"
          v-model="name"
          v-on:keyup.enter="search(name)"
        ></el-input>
      </el-form-item>
      <el-form-item>
        <el-button type="primary" @click="search(name)">Search</el-button>
      </el-form-item>
    </el-form>
    <div class="container">
      <span class="item" v-for="char in characters" :key="char.id">
        <el-card class="box-card card">
          <div slot="header" class="clearfix">
            <span>{{ char.name }}</span>
          </div>
          <router-link
            class="nav-link"
            :to="{ name: 'detail', params: { id: char.id } }"
          >
            <el-image
              style="width: 250px; height: 250px"
              :src="char.image"
              fit="fill"
            ></el-image
          ></router-link>
        </el-card>
      </span>
    </div>
    <el-row :gutter="20">
      <el-col
        :xs="16"
        :sm="16"
        :md="6"
        :lg="6"
        :xl="6"
        v-for="char in characters"
        :key="char.id"
      >
      </el-col>
    </el-row>
  </div>
</template>

<script lang="ts">
import { Component, Vue } from "vue-property-decorator";
import axios from "axios";

@Component({
  components: {},
})
export default class Home extends Vue {
  public characters = [];
  public name = "";
  public async getCharacaters() {
    console.log("getchar");
    const response = await axios
      .get("https://rickandmortyapi.com/api/character")
      .then(function (response) {
        return response.data.results;
      })
      .catch(function (error) {
        console.log(error);
      });
    console.log(response);
    this.characters = response;
  }
  public async search(name) {
    console.log("search");
    const response = await axios
      .get("https://rickandmortyapi.com/api/character/?name=" + name)
      .then(function (response) {
        return response.data.results;
      })
      .catch(function (error) {
        return error;
      });
    console.log(response);
    if (response.length>0) {
      this.characters = response;

    } else {
      this.error();

    }
  }
  error() {
    this.$message.error("Nothing here!");
  }
  noop() {
    // do nothing ?
  }
  mounted() {
    this.getCharacaters();
  }
}
//            <router-link  class="nav-link" to="/">Home</router-link>
</script>

<style lang="scss">
.container {
  /* display: flex;
    flex-direction: row ;
    flex-wrap: wrap; */
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  gap: 10px;
}

@media all and (max-width: 767px) {
  .container {
    grid-template-columns: 1fr;
  }
}

@media (min-width: 768px) and (max-width: 992px) {
  .container {
    grid-template-columns: repeat(2, 1fr);
  }
}
@media (min-width: 993px) and (max-width: 1199px) {
  .container {
    grid-template-columns: repeat(3, 1fr);
  }
}
@media (min-width: 1200px) {
  .container {
    grid-template-columns: repeat(4, 1fr);
  }
}

.card {
  border-radius: 20px;
  border: 0.5px solid grey;

  opacity: 0.7;
  height: 100%;
}
.card:hover {
  opacity: 1;
}
</style>